body{
  /* background-color:rgba(95, 49, 209, 0.1); */
  font-family:'メイリオ',
}
.page_top{
  text-decoration: underline;
  font-size: 5rem;
}

.p_4rem{
  margin: 4rem;
}

.button_flex{
  display: flex;
  justify-content: space-between;
}
.file_select {
    display: none;
}
.file_select_label {
  padding: 0.5rem 1rem;
  color: #67c5ff;
  border: solid 0.2rem #67c5ff;
  border-radius: 0.3rem;
  transition: .4s;
  font-size: 4rem;
}
.file_select_label:hover {
  background: #67c5ff;
  color: white;
}
.update_value{
  padding: 0.5rem 1rem;
  font-size: 4rem;
  color: #67c5ff;
  border: solid 0.2rem #67c5ff;
  border-radius: 0.3rem;
  transition: .4s;
  background-color: rgb(255, 255, 255);
}

.modebar-btn {
    font-size: 4rem !important;
}
.js-plotly-plot .plotly [data-title]::after{
  display: none !important;
}
.js-plotly-plot .plotly [data-title]::before, .js-plotly-plot .plotly [data-title]::after{
  display: none !important;
}
.data_check_form{
  overflow:auto;
  width:97vw;
  height:40vh;
  margin: 0 2vw 0 1vw;
  box-shadow: rgba(14, 30, 37, 0.12) 0rem 0.25rem 0.5rem 0rem, rgba(14, 30, 37, 0.32) 0rem 0.25rem 2rem 0rem;
}
.data_check_table{
  font-size: 2rem;
  text-align: center;
  vertical-align:top
}
.data_check_table th {
  font-size: 2rem;
  position: sticky;
  top: 0;
  padding: 1rem;
  word-break:break-all;
  background: #f8ffcd;
  border: 0.1rem solid #000000;
  vertical-align:top
}
.data_check_table td {
  font-size: 2rem;
  padding: 1rem;
  border: solid 1px #778ca3;
  word-break:break-all;
  /* white-space: nowrap; */
}

.chk_box_div {
	margin:0rem 7rem 1rem 7rem;
    /* テーブルの幅 */
  height:3rem;
  width:3rem
}
/* ラベルのスタイル*/
.chk_box_div label {
	font-size:4rem;
  line-height: 3rem;
	display: flexinline-block;
	cursor: pointer;
	/* position: Left; */
}
/* ボックスのスタイル */
.chk_box_div label:before {
	content:'';
	width: 3rem; /* ボックスの横幅 */
	height: 3rem; /* ボックスの縦幅 */
	display:inline-block;
	/* position:Left; */
	/* left:0; */
	background-color:	#fff;
	box-shadow:inset 0.1rem 0.2rem 0.3rem 0rem #000;
	border-radius:0.6rem 0.6rem 0.6rem 0.6rem;
}
/* 元のチェックボックスを表示しない */
.chk_box_div input[type=checkbox] {
	display:none;
}
/* チェックした時のスタイル */
.chk_box_div input[type=checkbox]:checked + label:before {
	content: '\2713';		/* チェックの文字 */
	color: #000000;			/* チェックの色 */
	background-color: #67c5ff;/* チェックした時の色 */
}

.value_input_div{
  display: inline-block;
  padding: 0rem 3rem 0rem 0rem;
}
.value_input_label{
  font-size: 3rem;
}
.value_input{
  font-size: 3rem;
}

.received_data{
  width: 97vw;
  height: 97vw;
  border: solid 1px #778ca3;
  margin: 0 2vw 0 1vw;
  box-shadow: rgba(14, 30, 37, 0.12) 0rem 0.25rem 0.5rem 0rem, rgba(14, 30, 37, 0.32) 0rem 0.25rem 2rem 0rem;
}

.network_name_div {
    padding: 1rem 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.network_name_div p {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.loader-wrap {
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    background: #000000;
    opacity: 20%;
    z-index:1;
}
.loader {
  color: #15d3ec;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}