:root{
  --tg_switch_scale: 0.25rem;
  --menu_font_size: 2.5rem;
  --msg_font_size: 4rem;
}

*{
margin:0;
padding:0;
}

html{
}

body{
  -webkit-text-size-adjust: 100%;
  font-family:'Arial';
  width: 98vw;
  height: 100vh;
  margin: 1vw;
  background-color: #FEFFF5;
  overflow-x: hidden;
}

a,button{transition: background .3s ease-in-out;outline: none!important;} /* Prevent blue selection glow on Chrome and Safari */

.page_top{
  text-decoration: underline;
  font-size: 4rem;
  padding: 2rem 0;
  text-align: center;
}

.add_btn {
  display: none;
}
.remove_btn {
  display: none;
}
.btn_label2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 3.5rem;
    background-color: #ffa300;
    font-size: var(--menu_font_size);
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    border-bottom: 4px solid #d37800;
    margin: 0 0 0 5%;
}
.btn_label2:active {
    transform: translateY(4px);
    border-bottom: none;
}

.form_elem_name{
  font-size: 2.5rem;
  margin: 1rem 0;
}

.button_flex{
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.file_select {
  display: none;
}
.update_value{
  display: none;
}
.btn_label1 {
  background-color: #ffa300;
  font-size: var(--menu_font_size);
  color: #FFF;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  border-bottom: 4px solid #d37800;
}
.btn_label1:active {
    transform: translateY(4px);
    border-bottom: none;
}

.value_form{
  margin: 2rem 0;
  border: solid 0.1rem;
  padding: 1rem;
}

#file_plot_btn{
  margin: 2rem 0;
  justify-content: space-between;
  align-items: center;
}

#file_select_form{
  display: flex;
  align-items: center;
  height: 8rem;
}
#update_value_label {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 0 0;
}

.modebar-btn {
    font-size: 4rem !important;
}
.js-plotly-plot .plotly [data-title]::after{
  display: none !important;
}
.js-plotly-plot .plotly [data-title]::before, .js-plotly-plot .plotly [data-title]::after{
  display: none !important;
}

.data_check_form{
  overflow:auto;
  border: solid 0.2rem;
}
.data_check_table{
  font-size: 2.5rem;
  table-layout:auto;
}
.data_check_table_body{
}
.data_check_table th {
  padding: 1rem;
  background: #f8ffcd;
  border: solid 0.1rem #778ca3;
  vertical-align: top;
  position: sticky;
  top: 0
}
.data_check_table td {
  text-align: center;
  padding: 1rem;
  border: solid 0.1rem #778ca3;
  background: rgb(255, 255, 255);
}

.chk_box_div {
    margin: 0 6rem;
}
/* ラベルのスタイル*/
.chk_box_div label {
  /* cursor: pointer; */
	font-size:4rem;
  line-height: 3rem;
}
/* ボックスのスタイル */
.chk_box_div label:before {
	content:'';
	width: 3rem; /* ボックスの横幅 */
	height: 3rem; /* ボックスの縦幅 */
	display:inline-block;
	/* position:Left; */
	/* left:0; */
	background-color:	#fff;
	box-shadow:inset 0.1rem 0.2rem 0.3rem 0rem #000;
	border-radius:0.6rem 0.6rem 0.6rem 0.6rem;
}
/* 元のチェックボックスを表示しない */
.chk_box_div input[type=checkbox] {
	display:none;
}
/* チェックした時のスタイル */
.chk_box_div input[type=checkbox]:checked + label:before {
	content: '\2713';		/* チェックの文字 */
	color: #000000;			/* チェックの色 */
	/* background-color: #67c5ff;/* チェックした時の色 */ */
}

.row_div{
  display: flex;
  flex-direction: row;
}

.col_div{
  display: flex;
  flex-direction: column;
}

.value_input_div{
  display: flex;
  flex-direction: column;
  padding: 0rem 4rem 0rem 0rem;
}
.value_input_label{
  font-size: var(--menu_font_size);
  padding: 0 0 1rem 0;
}
.value_input {
    /* height: 3rem; */
    font-size: 3rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 0 0.2rem #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.value_inputt:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

.tg_switch {
  border: calc(var(--tg_switch_scale)*1) solid #0c0c0d4d;
  color: #737373;
  display: inline-block;
  margin: 0 0;
}
.tg_switch {
  -webkit-appearance: none;
  appearance: none;
  background-color: #0c0c0d1a;
  border-radius: calc(var(--tg_switch_scale)*8);
  height: calc(var(--tg_switch_scale)*16);
  width: calc(var(--tg_switch_scale)*32);
}
.tg_switch:hover {
  background-color: #0c0c0d33;
  border-color: #0c0c0d7f;
}
.tg_switch:active {
  background-color: #0c0c0d4d;
}
.tg_switch:focus {
  box-shadow: 0 0 0 calc(var(--tg_switch_scale)*1) #0a84ff inset, 0 0 0 calc(var(--tg_switch_scale)*1) #0a84ff, 0 0 0 calc(var(--tg_switch_scale)*4) #0a84ff4d;
}
.tg_switch:checked {
  background-color: #0060df;
  border-color: #0060df;
}
.tg_switch::before {
  background-color: currentColor;
  border-radius: calc(var(--tg_switch_scale)*6);
  content: "";
  display: inline-block;
  height: calc(var(--tg_switch_scale)*12);
  margin-left: calc(var(--tg_switch_scale)*1);
  margin-top: calc(var(--tg_switch_scale)*1);
  transition: margin-left .2s cubic-bezier(.07, .95, 0, 1);
  width: calc(var(--tg_switch_scale)*12);
}
.tg_switch:checked::before {
  background-color: #ffffff;
  margin-left: calc(var(--tg_switch_scale)*17);
}
.tg_switch.text {
  position: relative;
}
.tg_switch.text::after {
  content: attr(data-text-off);
  font-size: calc(var(--tg_switch_scale)*8);
  position: absolute;
  right: calc(var(--tg_switch_scale)*2);
  top: calc(var(--tg_switch_scale)*2);
}
.tg_switch.text:checked::after {
  color: #ffffff;
  content: attr(data-text-on);
  left: calc(var(--tg_switch_scale)*2);
  right: auto;
}
.tg_switch_label{
  font-size: calc(var(--tg_switch_scale)*10);
}

.remove_word_div{
  display: inline-flex;
  flex-direction: column;
  width: 60%;
}

#remove_word_AdRm_div{
  align-items: flex-start;
}

.remove_word_label{
  font-size: 2.5rem;
  padding: 0 0 1rem 0;
}
.remove_word {
    height: 3rem;
    font-size: 3rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 0 0.2rem #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0 0 0.5rem 0;
}
.remove_wordt:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}





.received_data{
  width: 98vw;
  height: 98vw;
  border: solid 0.1rem #000000;
}

.network_name_div {
    padding: 1rem 1rem;
    margin: 2rem 0 10rem 0;
    font-weight: bold;
    color: #000000;
    background: #FFF;
    border: solid 0.1rem #000000;
    border-radius: 1rem;
}
.network_name{
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
  word-break: break-all;
}

.loader-wrap {
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  opacity: 20%;
  z-index:1;
}
.loader {
  color: #15d3ec;
  font-size: 3rem;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
#rfl_message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: var(--msg_font_size);
    font-style: italic;
    color: red;
    text-shadow: calc(var(--msg_font_size)*0.02) calc(var(--msg_font_size)*0.02) 0px #000, calc(var(--msg_font_size)*0.02) calc(var(--msg_font_size)*0.02) 0px #000,
          calc(var(--msg_font_size)*0.02) calc(var(--msg_font_size)*0.02) 0px #000,  calc(var(--msg_font_size)*0.02) calc(var(--msg_font_size)*0.02) 0px #000,
           calc(var(--msg_font_size)*0.02) 0px 0px #000, calc(var(--msg_font_size)*0.02)  0px 0px #000,
           0px calc(var(--msg_font_size)*0.02) 0px #000,  0px calc(var(--msg_font_size)*0.02) 0px #000;
}
