@import url("https://use.fontawesome.com/releases/v5.6.1/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

:root{
  --basic_size: 1rem;
  --shadow_1: 0
  calc(var(--basic_size)*0.05) calc(var(--basic_size)*0.15) gray;
  --shadow_2: 0
  calc(var(--basic_size)*0.05) calc(var(--basic_size)*0.15) black;
  --color_1: gray;
  --color_2:#363F4B;
  --color_3:
  rgb(255, 255, 255);

  --color_5:#FEFFF5;
  --tg_switch_scale:
  calc(var(--basic_size)*0.1);
  --menu_font_size: 3rem;
  --msg_font_size: 4rem;
  --data_font_size: 2.5rem;
  --font_1:
  'Oleo Script', cursive;
}

/* for mobile device */
@media screen and (max-width:600px) {
  #received_data {
    width: 100%;
    height: 60vh;
  }
  #block_type_7{
    padding: calc(var(--basic_size)*1.5) 2.5%;
  }
  #block_type_8 {
    width: 100%;
  }
  #block_type_9{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }
  .data_check_form{
    max-height: 40vh
  }
}

/* for computer */
@media screen and (min-width:600px) {
  #received_data {
    width: 100%;
    height: 60vh;
  }
  #block_type_7{
    padding: 0 2.5%;
  }
  #block_type_8 {
    width: 40%;
    padding: 0 0 0 2.5%;
  }
  #block_type_9{
      display: flex;
      flex-direction: row;
      padding: calc(var(--basic_size)*1.5) 0;
      justify-content: space-between;
      width: 100%;
  }
  .data_check_form{
    max-height: 60vh
  }
}

*{
  font-family: 'Open Sans','Zen Kaku Gothic Antique', sans-serif;
  font-weight: normal;
}

.link{
  font-family: var(--font_1);
  font-size: var(--basic_size);
  color: blue;
  text-decoration: underline;
  text-align: center;
}

#row_sec1{
  justify-content: space-between;
  align-items: flex-start;
}

h1{
  font-size: calc(var(--basic_size)*1.5);
  color: var(--color_1);
  font-family: var(--font_1);
  padding-top: calc(var(--basic_size)*2);
  text-align: center;
  padding-bottom: var(--basic_size);
}

header{
  width: 100%;
}

#loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.8;
}

#loadingMsg {
    font-size: calc(var(--basic_size)*1.5);
    font-family: var(--font_1);
}

#loadingImg {
    width: calc(var(--basic_size)*34);
    margin: calc(var(--basic_size)*-3);
}

#loadingStatus, #loadingType {
    font-size: 2.5rem;
}

a,button{transition: background .3s ease-in-out;outline: none!important;} /* Prevent blue selection glow on Chrome and Safari */

.add_btn {
}
.remove_btn {
  display: none;
}

.button_flex{
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.file_select {
  display: none;
}
.update_value{
  display: none;
}
.btn_label1 {
    background-color: var(--color_1);
    font-size: var(--basic_size);
    color: #FFF;
    font-weight: bold;
    padding: 1rem 0;
    border-radius: 0.25rem;
    text-align: center;
    margin: 0.5rem 0 1rem 0;
}
.btn_label1:active {
    transform: translateY(4px);
    border-bottom: none;
}
#add_btn_label, #remove_btn_label {
    width: 15%;
    height: 0;
}

.value_form {
    border: solid calc(var(--basic_size)*0.1) var(--color_1);
    border-radius: calc(var(--basic_size)*0.4);
}

#file_plot_btn{
  margin: 2rem 0;
  justify-content: space-between;
  align-items: center;
}

#file_select_label {
    margin: 0;
    width: 30vw;
    font-family: var(--font_1);
    font-weight: normal;
}

#update_value_label {
    display: flex;
    justify-content: space-evenly;
    font-family: var(--font_1);
    font-weight: normal;
}

.modebar-btn {
    font-size: calc(var(--basic_size)*1.6) !important;
}
.js-plotly-plot .plotly [data-title]::after{
  display: none !important;
}
.js-plotly-plot .plotly [data-title]::before, .js-plotly-plot .plotly [data-title]::after{
  display: none !important;
}
.js-plotly-plot .plotly .modebar {
    position: absolute;
    top: 0 !important;
    right: 0 !important;
}
.js-plotly-plot .plotly .modebar-group {
    padding-left: 0 !important;
    position: relative !important;
    top: calc(var(--basic_size)*-2.6);
}
.js-plotly-plot .plotly .main-svg {
    box-shadow: inset var(--shadow_1);
    border-radius: calc(var(--basic_size)*0.5);
}
#scene, .gl-container, .user-select-none.svg-container, .plot-container.plotly, .main-svg{
  height: 100% !important;
  width: 100% !important;
}



.modebar-group {
    background-color: rgba(255, 255, 255, 0) !important;
}

.data_check_form {
    overflow: auto;
    width: 100%;
}
.data_check_table{
  font-size: var(--basic_size);
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
.data_check_table_body{
    width: 100%;
    height: 100%;
}
.data_check_table th {
    border: solid calc(var(--basic_size)*0.1) var(--color_1);
    background: var(--color_2);
    position: sticky;
    top: 0;
    color: var(--color_3);
    text-align: center;
    width: 26vw;
}
.data_check_table td {
  text-align: center;
  border: solid calc(var(--basic_size)*0.1) var(--color_1);
  background: var(--color_3);
  height: calc(var(--basic_size)*2);
  vertical-align: middle;
}

.chk_box_div {
  width: 100%
}
.chk_box_div label {
  font-family: FontAwesome;
  font-size: calc(var(--basic_size)*1.5);
}
.chk_box_div label:before {
  width: calc(var(--basic_size)*1.1);
  height: calc(var(--basic_size)*1.1);
  display:inline-block;
  background-color:	#fff;
  box-shadow: inset var(--shadow_1);
  border-radius:
  calc(var(--basic_size)*0.2);
  content:'';
  margin: calc(var(--basic_size)*0.5) 0 0 0;
  line-height: calc(var(--basic_size)*1);
}
.chk_box_div input[type=checkbox] {
	display:
	none;
}
.chk_box_div input[type=checkbox]:checked + label:before {
	content: "\f00c";
	color: rgb(0, 0, 0);
    box-shadow: inset var(--shadow_2)
}

.row_div{
  display: flex;
  flex-direction: row;
}

.col_div{
  display: flex;
  flex-direction: column;
}

.value_form{
  padding: calc(var(--basic_size)*0.5);
  width: 100%;
}

.value_input_div{
  display: flex;
  flex-direction: column;
  padding: 0rem 4rem 0rem 0rem;
}
.value_input_label {
    font-size: var(--basic_size);
    margin: 1rem 0 0 0;
    font-family: var(--font_1);
}
.value_input, .remove_word {
    font-size: var(--basic_size);
    width: 100%;
    border-radius: calc(var(--basic_size)*0.4);
    border: solid calc(var(--basic_size)*0.1);
    -webkit-appearance: none;
    margin: calc(var(--basic_size)*0.2) 0;
    border-color: var(--color_1);
    height:
    calc(var(--basic_size)*2);
    padding-left:
    calc(var(--basic_size)*0.4);
    background:
    var(--color_3);
}
.value_input:focus ,.remove_word:focus {
    outline: 0;
    border-color: cornflowerblue;
}
.remove_word {
}

#remove_word_label{

}

.tg_switch {
  border: calc(var(--tg_switch_scale)*1) solid gray;
  color: gray;
  display: inline-block;
}
.tg_switch {
    appearance: none;
    border-radius: calc(var(--tg_switch_scale)*8);
    height: calc(var(--tg_switch_scale)*16);
    width: calc(var(--tg_switch_scale)*32);
    margin: calc(var(--basic_size)*0.2) 0;
}
.tg_switch:active {
  background-color: #0c0c0d4d;
}
.tg_switch:checked {
  background-color: var(--color_2);
  border-color: var(--color_2);
}
.tg_switch::before {
  background-color: currentColor;
  border-radius: calc(var(--tg_switch_scale)*6);
  content: "";
  display: inline-block;
  height: calc(var(--tg_switch_scale)*12);
  margin-left: calc(var(--tg_switch_scale)*1);
  margin-top: calc(var(--tg_switch_scale)*1);
  transition: margin-left .2s cubic-bezier(.07, .95, 0, 1);
  width: calc(var(--tg_switch_scale)*12);
}
.tg_switch:checked::before {
  background-color: #ffffff;
  margin-left: calc(var(--tg_switch_scale)*17);
}
.tg_switch.text {
  position: relative;
}
.tg_switch.text::after {
  content: attr(data-text-off);
  font-size: calc(var(--tg_switch_scale)*8);
  position: absolute;
  right: calc(var(--tg_switch_scale)*2);
  top: calc(var(--tg_switch_scale)*2);
}
.tg_switch.text:checked::after {
  color: #ffffff;
  content: attr(data-text-on);
  left: calc(var(--tg_switch_scale)*2);
  right: auto;
}
.tg_switch_label{
  font-size: calc(var(--tg_switch_scale)*10);
}

.remove_word_div{
  display: inline-flex;
  flex-direction: column;
  width: calc(var(--basic_size)*14);
  padding-right: calc(var(--basic_size)*1.5);
}

#remove_word_AdRm_div{
  align-items: flex-start;
}

.remove_word_label{
  font-size: 2.5rem;
  padding: 0 0 1rem 0;
}

.network_name_div {
    font-weight: bold;
    display: flex;
    width: 100%;
    padding-top: calc(var(--basic_size)*0.2);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.network_name{
  word-break: break-all;
  font-size: var(--basic_size);
  padding-left: calc(var(--basic_size)*0.4);
}

#rfl_message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: var(--msg_font_size);
    font-style: italic;
    color: red;
    text-shadow: calc(var(--msg_font_size)*0.02) calc(var(--msg_font_size)*0.02) 0px #000, calc(var(--msg_font_size)*0.02) calc(var(--msg_font_size)*0.02) 0px #000,
          calc(var(--msg_font_size)*0.02) calc(var(--msg_font_size)*0.02) 0px #000,  calc(var(--msg_font_size)*0.02) calc(var(--msg_font_size)*0.02) 0px #000,
           calc(var(--msg_font_size)*0.02) 0px 0px #000, calc(var(--msg_font_size)*0.02)  0px 0px #000,
           0px calc(var(--msg_font_size)*0.02) 0px #000,  0px calc(var(--msg_font_size)*0.02) 0px #000;
}

#block_type_1{
  display: flex;
  justify-content: center;
}
#block_type_2{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
#block_type_3{
  display: flex;
  justify-content: center;
  padding: calc(var(--basic_size)*1) 0;
}
#block_type_4{
  display: flex
  flex-direction: column;
  align-items: flex-start;
  padding-right: calc(var(--basic_size)*1.5);
}
#block_type_5{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
}
#block_type_6{
  display: flex;
}
#block_type_7{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#block_type_8{display: flex;flex-direction: column;padding: 0 2.5%;}
#block_type_10{display: grid;padding: var(--basic_size) 2.5%;}
#block_type_11{display: flex;align-items: flex-end;justify-content: space-between;width: 100%;}


#button_type_1{
  border-radius: calc(var(--basic_size)*0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--basic_size)*0.3) calc(var(--basic_size)*1);
  background: var(--color_2);
  box-shadow: var(--shadow_1);
  color: var(--color_3);
  font-family: var(--font_1);
}
#button_type_1:hover, #button_type_1:active {
  box-shadow: var(--shadow_2);
}
#button_type_2{
  border-radius: calc(var(--basic_size)*0.2);
  width: calc(var(--basic_size)*2);
  background: var(--color_2);
  box-shadow: var(--shadow_1);
  color: var(--color_3);
  font-family: var(--font_1);
  height: calc(var(--basic_size)*2);
  margin: calc(var(--basic_size)*0.2) 0;
  text-align: center;
  margin-right: calc(var(--basic_size)*1.5);
}
#button_type_2:hover, #button_type_2:active {
  box-shadow: var(--shadow_2);
}

.name_label{
  font-family: var(--font_1);2
  font-size: var(--basic_size);
}

#form_title{
  font-family: var(--font_1);
  font-size: var(--basic_size);
  padding: 0 0 calc(var(--basic_size)*0.2) 0;
  width: 100%;
}

.col_name{

padding: calc(var(--basic_size)*0.5) 0;
}

.slider {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content:
  center;
  padding-bottom: calc(var(--basic_size)*1.3);
}
.slider input[type="range"] {
  width: 100%;
  height: calc(var(--basic_size)*0.1);
  background: var(--color_1);
}
.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: calc(var(--basic_size)*1.2);
  height: calc(var(--basic_size)*1.2);
  background: var(--color_2);
  border-radius: 50%;
  cursor: pointer;
  box-shadow:var(--shadow_1);
}
.slider input[type="range"]::-webkit-slider-thumb:hover, .slider input[type="range"]::-webkit-slider-thumb:active {
  box-shadow:var(--shadow_2);
}

footer {
  margin: calc(var(--basic_size)*2) 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#table_tytle{
  font-family: var(--font_1);
  font-size: var(--basic_size);
  padding: 0 0 calc(var(--basic_size)*0.2) 0;
  width: calc(var(--basic_size)*3);
}
